{
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 9
    },
    "rules": {
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "*",
                "next": "*"
            },
            {
                "blankLine": "never",
                "prev": "import",
                "next": "import"
            }
        ],
        "quotes": [
            "error",
            "double"
        ],
        "curly": [
            "error",
            "all"
        ],
        "no-else-return": "error",
        "no-empty-function": "error",
        "no-multi-spaces": "error"
    }
}